openapi: 3.0.3
info:
  title: Springer Nature Open Access API
  description: >-
    The Springer Nature Open Access API provides free access to open access
    research articles and book chapters published by Springer Nature. It enables
    retrieval of metadata and full-text content for open access publications
    across all disciplines. Requires a free API key from dev.springernature.com.
  version: '1'
  contact:
    name: Springer Nature Developer Support
    url: https://dev.springernature.com/
  license:
    name: Springer Nature API Terms
    url: https://dev.springernature.com/terms-conditions/
servers:
  - url: https://api.springernature.com/openaccess
    description: Springer Nature Open Access API
security:
  - apiKey: []
paths:
  /json:
    get:
      operationId: searchOpenAccess
      summary: Search Open Access Content
      description: >-
        Searches open access publications and returns metadata with links to
        full-text content. Results include articles and chapters that are freely
        accessible without subscription.
      tags:
        - Open Access
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
          description: >-
            Search query supporting field qualifiers: doi:, title:, author:,
            journal:, issn:, isbn:, subject:, keyword:, onlinedatefrom:, onlinedateto:
        - name: s
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Start record for pagination (1-based)
        - name: p
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: Number of results per page
        - name: api_key
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Open access search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAccessResponse'
        '401':
          description: Unauthorized - invalid or missing API key
        '429':
          description: Rate limit exceeded
  /jats:
    get:
      operationId: searchOpenAccessJats
      summary: Search Open Access Content (JATS Format)
      description: Returns open access publication metadata in JATS XML format
      tags:
        - Open Access
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: s
          in: query
          schema:
            type: integer
            default: 1
        - name: p
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: JATS format results
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-ApiKey
  schemas:
    OpenAccessResponse:
      type: object
      properties:
        apiMessage:
          type: string
        query:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/ResultSet'
        records:
          type: array
          items:
            $ref: '#/components/schemas/OpenAccessRecord'
    ResultSet:
      type: object
      properties:
        total:
          type: string
        start:
          type: string
        pageLength:
          type: string
        recordsDisplayed:
          type: string
    OpenAccessRecord:
      type: object
      properties:
        identifier:
          type: string
        url:
          type: array
          items:
            type: object
            properties:
              format:
                type: string
              platform:
                type: string
              value:
                type: string
        title:
          type: string
        creators:
          type: array
          items:
            type: object
            properties:
              creator:
                type: string
              ORCID:
                type: string
        publicationName:
          type: string
        doi:
          type: string
        publisher:
          type: string
        publicationDate:
          type: string
          format: date
        contentType:
          type: string
        abstract:
          type: string
        openAccess:
          type: boolean
          example: true
        fullTextUrl:
          type: string
          format: uri
          description: Direct URL to full-text HTML content
        pdfUrl:
          type: string
          format: uri
          description: URL to PDF version if available
        license:
          type: string
          description: Creative Commons or other open access license
        subjects:
          type: array
          items:
            type: string
        keyword:
          type: array
          items:
            type: string
tags:
  - name: Open Access
